<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="web/core/tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    cacheResultFile=".phpunit.cache/test-results"
    executionOrder="depends,defects"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">web/modules/custom</directory>
            <directory suffix="Test.php">web/themes/custom</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>web/modules/custom</directory>
            <directory>web/themes/custom</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">web/modules/custom</directory>
            <directory>web/modules/custom/*/tests</directory>
        </exclude>
    </source>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
        <testdoxHtml outputFile="coverage/testdox.html"/>
    </logging>

</phpunit>