<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('/modules/custom/custom_profile/images/registeration-bg.png');">

	<div class="bg-white rounded-2xl max-w-lg w-full mx-4 my-10 py-8 relative">

		<div class="border border-gray-300 p-6 relative">
			<p class="text-gray-700 text-sm leading-relaxed text-center mt-4 mb-6">
				Instructions to reset your password have been sent to:
				<span class="font-semibold">{{ email }}</span>.
					        Please follow the link in the email to choose a new password. 
					        If you didn’t request this, you can disregard this message.
					        If you don’t see the email, check your spam folder.
			</p>

			{# BUTTON #}
			<div class="flex justify-center mt-4 mb-6">
				<a href="{{ path('login_logout.user_login_form') }}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-medium px-6 py-2 rounded-xl shadow transition">
					Close
				</a>
			</div>
		</div>
	</div>
</div>
