{# <div class="collapse-content xs:bg-[#E5E5E5] s:bg-[#E5E5E5] rounded-md mb-2.5">
<p class="text-[#3e3a3a] opacity-80 font-medium font-['Open_Sans'] s:text-sm s:pt-4 s:text-start xs:text-sm xs:pt-4 xs:text-start">
{{ output -}}
</p>
</div> #}
<span class="collapse-title text-base text-[#797979] font-bold font-['Open_Sans'] cursor-pointer flex justify-between text-md text-medium_dark bg-base-100 font-bold font-['Open_Sans'] peer-checked:rounded-b-0 s:p-5 s:text-start s:text-sm xs:p-5 xs:text-start xs:text-sm">
{{ output -}}
</span>