{#
/**
 * @file
 * Theme override for a local task link in Drupal 11.
 *
 * Variables:
 * - attributes: HTML attributes for the <li>.
 * - link: A render array representing the task link.
 */
#}

{# Render the link safely to string #}
{% set rendered_link = link|render %}
{% set title = link['#title']|lower %}

{# Base Tailwind classes for all buttons #}
{% set base_classes = 'inline-block px-4 py-2 rounded text-white font-semibold mr-2' %}

{% if 'edit' in title %}
  {% set button_classes = base_classes ~ ' bg-yellow-500 hover:bg-yellow-600' %}
{% elseif 'view' in title %}
  {% set button_classes = base_classes ~ ' bg-black hover:bg-gray-800' %}
{% elseif 'delete' in title %}
  {% set button_classes = base_classes ~ ' bg-red-600 hover:bg-red-700' %}
{% else %}
  {% set button_classes = base_classes ~ ' bg-gray-400 hover:bg-gray-500' %}
{% endif %}

{# Inject class into <a> tag using replace #}
{% set styled_link = rendered_link|replace({'<a ': '<a class="' ~ button_classes ~ '" '}) %}

<li{{ attributes.addClass('inline-block') }}>
  {{ styled_link|raw }}
</li>
