
<div class="webform-confirmation mx-auto max-w-screen-xl topbar bg-white py-2 px-4 portal-enquiry-webform-confirmation">
	{% if message %}
		<div class="webform-confirmation__message mx-auto max-w-3xl">{{ message }}</div>
	{% endif %}
</div>
